<a href="https://colab.research.google.com/github/souhirbenamor/EPF/blob/main/Evaluation_Metrics_and_Tests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gitpython

Requirement already satisfied: gitpython in /usr/local/lib/python3.7/dist-packages (3.1.27)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from gitpython) (3.10.0.2)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.7/dist-packages (from gitpython) (4.0.9)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from gitdb<5,>=4.0.1->gitpython) (5.0.0)

In [ ]:
import os
from git.repo.base import Repo
Repo.clone_from("https://github.com/jeslago/epftoolbox", "epftoolbox")

In [ ]:
cd epftoolbox

/content/epftoolbox

In [ ]:
pip install .

Processing /content/epftoolbox
  DEPRECATION: A future pip version will change local packages to be built in-place without first copying to a temporary directory. We recommend you use --use-feature=in-tree-build to test your packages with this new behavior before it becomes the default.
   pip 21.3 will remove support for this functionality. You can find discussion regarding this at https://github.com/pypa/pip/issues/7555.

In [1]:
from epftoolbox.evaluation import MAE
from epftoolbox.evaluation import RMSE
from epftoolbox.evaluation import MAPE
from epftoolbox.evaluation import sMAPE
from epftoolbox.evaluation import MASE
from epftoolbox.evaluation import rMAE
from epftoolbox.data import read_data
import pandas as pd

In [2]:
#Download available forecast
import pandas as pd
import numpy as np
forecast = pd.read_csv('/content/compare_df.csv')
#forecast = forecast.set_index("Date") # define Date  as index
forecast.reset_index(inplace=True)
forecast["Date"] = pd.to_datetime(forecast["Date"])
forecast = forecast.set_index('Date')

forecast.head()

                     index  Actuals      ARIMA      GARMA
Date
2015-01-03 22:00:00      0    32.28  41.321858  40.989070
2015-01-03 23:00:00      1    27.63  43.785499  42.463420
2015-01-04 00:00:00      2    27.03  44.984570  43.426814
2015-01-04 01:00:00      3    27.04  45.568166  43.979893
2015-01-04 02:00:00      4    27.19  45.852206  44.773772

In [3]:
# Transforming indices to datetime format
#forecast.index = pd.to_datetime(forecast.index)
# Extracting forecast 
fc_GARMA = forecast.iloc[:, 3]
# Extracting real price and display
real_price = forecast.iloc[:, 1]

In [4]:
fc_GARMA

Date
2015-01-03 22:00:00    40.989070
2015-01-03 23:00:00    42.463420
2015-01-04 00:00:00    43.426814
2015-01-04 01:00:00    43.979893
2015-01-04 02:00:00    44.773772
                         ...
2016-12-31 17:00:00    46.148000
2016-12-31 18:00:00    46.105000
2016-12-31 19:00:00    46.117500
2016-12-31 20:00:00    46.057000
2016-12-31 21:00:00    46.177000
Name: GARMA, Length: 17472, dtype: float64

In [5]:
real_price

Date
2015-01-03 22:00:00    32.28
2015-01-03 23:00:00    27.63
2015-01-04 00:00:00    27.03
2015-01-04 01:00:00    27.04
2015-01-04 02:00:00    27.19
                       ...
2016-12-31 17:00:00    40.10
2016-12-31 18:00:00    36.00
2016-12-31 19:00:00    35.00
2016-12-31 20:00:00    34.94
2016-12-31 21:00:00    34.34
Name: Actuals, Length: 17472, dtype: float64

In [6]:
MAE(p_pred=fc_GARMA, p_real=real_price)

14.879906265306268

In [7]:
RMSE(p_pred=fc_GARMA, p_real=real_price)

23.552335426154986

In [8]:
MAPE(p_pred=fc_GARMA, p_real=real_price)

1.0706183087667058

In [9]:
sMAPE(p_pred=fc_GARMA, p_real=real_price)

0.3583682443740385

In [10]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/BE.csv')
#df = df.set_index("Date") # define Date  as index
#df.index = pd.to_datetime(df.index)
df.reset_index(inplace=True)
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')
df.head()

,index,Prices,Generation forecast,System load forecast
Date,,,,
2011-01-09 00:00:00,0,32.54,63065.0,63000.0
2011-01-09 01:00:00,1,21.55,62715.0,58800.0
2011-01-09 02:00:00,2,15.71,61952.0,58500.0
2011-01-09 03:00:00,3,10.58,59262.0,54300.0
2011-01-09 04:00:00,4,10.32,56883.0,51900.0

In [11]:
#Consider the train sample
y_train = df[:-17472] 
real_price_insample =y_train.iloc[:, 1]
real_price_insample=pd.DataFrame(real_price_insample)
real_price_insample

                      Prices
Date
2011-01-09 00:00:00    32.54
2011-01-09 01:00:00    21.55
2011-01-09 02:00:00    15.71
2011-01-09 03:00:00    10.58
2011-01-09 04:00:00    10.32
...                      ...
2015-01-03 19:00:00    47.62
2015-01-03 20:00:00    43.79
2015-01-03 21:00:00    42.44
2015-01-03 22:00:00    42.03
2015-01-03 23:00:00    40.91

[34944 rows x 1 columns]

In [12]:
 y_test = df[-17472:]
y_test

,index,Prices,Generation forecast,System load forecast
Date,,,,
2015-01-04 00:00:00,34944,36.26,68997.0,66016.0
2015-01-04 01:00:00,34945,32.28,66398.0,61071.0
2015-01-04 02:00:00,34946,27.63,65720.0,60970.0
2015-01-04 03:00:00,34947,27.03,62539.0,57163.0
2015-01-04 04:00:00,34948,27.04,61219.0,54428.0
...,...,...,...,...
2016-12-31 19:00:00,52411,40.84,70329.0,73957.0
2016-12-31 20:00:00,52412,40.10,69121.0,72544.0
2016-12-31 21:00:00,52413,36.00,66647.0,69451.0
2016-12-31 22:00:00,52414,35.00,65886.0,67823.0
2016-12-31 23:00:00,52415,34.94,66846.0,72876.0

In [13]:
from epftoolbox.evaluation import naive_forecast

In [14]:
naive_forecast(p_real=real_price_insample, m='W', n_prices_day=24)

                     Prices
Date
2011-01-16 00:00:00   32.54
2011-01-16 01:00:00   21.55
2011-01-16 02:00:00   15.71
2011-01-16 03:00:00   10.58
2011-01-16 04:00:00   10.32
...                     ...
2015-01-03 19:00:00   45.39
2015-01-03 20:00:00   44.96
2015-01-03 21:00:00   39.96
2015-01-03 22:00:00   39.48
2015-01-03 23:00:00   36.64

[34776 rows x 1 columns]

In [15]:
MASE(p_pred=fc_GARMA, p_real=real_price, p_real_in=real_price_insample, m='W')

1.7437609332896884

In [16]:
rMAE(p_pred=fc_GARMA, p_real=real_price)

1.80647001687298

# Diebold-Mariano test

In [35]:
import pandas as pd
import numpy as np
forecast = pd.read_csv('/content/compare_df.csv')

In [36]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/BE.csv')

In [37]:
from epftoolbox.evaluation import DM
import pandas as pd

In [39]:
# Transforming indices to datetime format
forecast.index = pd.to_datetime(forecast.index)
df.index = pd.to_datetime(df.index)

#Extracting real price, test sample
y_test = df[-17472:]
real_price = y_test.iloc[:, 1]
#Extracting forecasting results 
fc_GARMA = forecast.iloc[:, 3]
real_price = forecast.iloc[:, 1]
fc_ARMA=  forecast.iloc[:, 2]

In [42]:
 DM(p_real=real_price.values.reshape(-1, 24),
...     p_pred_1=forecast.loc[:, 'ARIMA'].values.reshape(-1, 24),
...     p_pred_2=forecast.loc[:, 'GARMA'].values.reshape(-1, 24),
...     norm=1, version='univariate')

array([0.00000000e+00, 7.41614291e-04, 1.00000000e+00, 8.13708189e-01,
       0.00000000e+00, 2.13504270e-03, 8.71020632e-01, 9.99988442e-01,
       9.94406199e-01, 1.37667655e-14, 2.73665234e-02, 1.00000000e+00,
       1.27831079e-12, 1.62946837e-03, 1.00000000e+00, 1.31615393e-01,
       2.60853887e-06, 1.66681169e-02, 1.50436726e-02, 9.99990258e-01,
       6.82524282e-09, 2.60094742e-06, 1.00000000e+00, 9.99999459e-01])