<a href="https://colab.research.google.com/github/souhirbenamor/EPF/blob/main/LEAR_Easy_recalibration_Bridging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
!pip install gitpython

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gitpython
  Downloading GitPython-3.1.27-py3-none-any.whl (181 kB)
     |████████████████████████████████| 181 kB 5.2 MB/s
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from gitpython) (4.1.1)
Collecting gitdb<5,>=4.0.1
  Downloading gitdb-4.0.9-py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.4 MB/s
Collecting smmap<6,>=3.0.1
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Installing collected packages: smmap, gitdb, gitpython
Successfully installed gitdb-4.0.9 gitpython-3.1.27 smmap-5.0.0

In [ ]:
import os
from git.repo.base import Repo
Repo.clone_from("https://github.com/jeslago/epftoolbox", "epftoolbox")

In [ ]:
cd epftoolbox

/content/epftoolbox

In [ ]:
#from epftoolbox.data import read_data
#df_train, df_test = read_data(path='.', dataset='EPF_data', begin_test_date='28-12-2015',end_test_date='31-12-2016')

In [ ]:
#df_train

                     Price  Exogenous 1  Exogenous 2
Date
2011-01-09 00:00:00  18.29        40242       8280.0
2011-01-09 01:00:00  16.04        39159       8413.0
2011-01-09 02:00:00  14.60        38825       8502.0
2011-01-09 03:00:00  14.95        38969       8669.0
2011-01-09 04:00:00  14.50        39093       8849.0
...                    ...          ...          ...
2015-12-27 19:00:00  35.69        65864      23686.0
2015-12-27 20:00:00  35.09        62098      23236.0
2015-12-27 21:00:00  32.95        59293      22718.0
2015-12-27 22:00:00  27.22        55256      22390.0
2015-12-27 23:00:00  26.56        50849      22086.0

[43536 rows x 3 columns]

In [ ]:
#df_test

                     Price  Exogenous 1  Exogenous 2
Date
2015-12-28 00:00:00  25.95        47965     21729.00
2015-12-28 01:00:00  23.30        47262     21491.00
2015-12-28 02:00:00  19.01        47679     21549.00
2015-12-28 03:00:00  24.59        48870     22197.00
2015-12-28 04:00:00  25.03        52302     23355.00
...                    ...          ...          ...
2016-12-31 19:00:00  40.25        59627     19911.50
2016-12-31 20:00:00  33.15        56876     20879.50
2016-12-31 21:00:00  30.39        54637     21307.75
2016-12-31 22:00:00  25.85        50930     21778.25
2016-12-31 23:00:00   1.59        45437     27305.00

[8880 rows x 3 columns]

In [ ]:
#from epftoolbox.data import DataScaler
#Xtrain = df_train.values
#Xtest = df_train.values
#scaler = DataScaler('Norm')
#Xtrain_scaled = scaler.fit_transform(Xtrain)
#Xtest_scaled = scaler.transform(Xtest)
#Xtrain_inverse = scaler.inverse_transform(Xtrain_scaled)
#Xtest_inverse = scaler.inverse_transform(Xtest_scaled)
#Xtrain[:3,:]

array([[1.8290e+01, 4.0242e+04, 8.2800e+03],
       [1.6040e+01, 3.9159e+04, 8.4130e+03],
       [1.4600e+01, 3.8825e+04, 8.5020e+03]])

In [ ]:
#Xtrain_scaled[:3,:]

array([[0.50536426, 0.22711934, 0.13419524],
       [0.49770103, 0.20483539, 0.13649405],
       [0.49279657, 0.19796296, 0.13803236]])

In [ ]:
#Xtrain_inverse[:3,:]

array([[1.8290e+01, 4.0242e+04, 8.2800e+03],
       [1.6040e+01, 3.9159e+04, 8.4130e+03],
       [1.4600e+01, 3.8825e+04, 8.5020e+03]])

In [ ]:
 #Xtest[:3,:]

array([[1.8290e+01, 4.0242e+04, 8.2800e+03],
       [1.6040e+01, 3.9159e+04, 8.4130e+03],
       [1.4600e+01, 3.8825e+04, 8.5020e+03]])

In [ ]:
#Xtest_scaled[:3,:]

array([[0.50536426, 0.22711934, 0.13419524],
       [0.49770103, 0.20483539, 0.13649405],
       [0.49279657, 0.19796296, 0.13803236]])

In [ ]:
#Xtest_inverse[:3,:]

array([[1.8290e+01, 4.0242e+04, 8.2800e+03],
       [1.6040e+01, 3.9159e+04, 8.4130e+03],
       [1.4600e+01, 3.8825e+04, 8.5020e+03]])

In [ ]:
#from epftoolbox.data import scaling
#Xtrain = df_train.values
#Xtest = df_train.values
#[Xtrain_scaled, Xtest_scaled], scaler = scaling([Xtrain,Xtest],'Norm')
#Xtrain[:3,:]

array([[1.8290e+01, 4.0242e+04, 8.2800e+03],
       [1.6040e+01, 3.9159e+04, 8.4130e+03],
       [1.4600e+01, 3.8825e+04, 8.5020e+03]])

In [ ]:
#Xtrain_scaled[:3,:]

array([[0.50536426, 0.22711934, 0.13419524],
       [0.49770103, 0.20483539, 0.13649405],
       [0.49279657, 0.19796296, 0.13803236]])

In [ ]:
#Xtest[:3,:]

array([[1.8290e+01, 4.0242e+04, 8.2800e+03],
       [1.6040e+01, 3.9159e+04, 8.4130e+03],
       [1.4600e+01, 3.8825e+04, 8.5020e+03]])

In [ ]:
#Xtest_scaled[:3,:]

array([[0.50536426, 0.22711934, 0.13419524],
       [0.49770103, 0.20483539, 0.13649405],
       [0.49279657, 0.19796296, 0.13803236]])

In [ ]:
#type(scaler)

epftoolbox.data._wrangling.DataScaler

In [ ]:
import pandas as pd
import numpy as np
import argparse
import os

from epftoolbox.data import read_data
from epftoolbox.evaluation import MAE, sMAPE
from epftoolbox.models import LEAR

In [ ]:
from epftoolbox.models import evaluate_lear_in_test_dataset
import os

# Market under study. If it not one of the standard ones, the file name
# has to be provided, where the file has to be a csv file
dataset = 'EPF'

In [ ]:
# Number of years (a year is 364 days) in the test dataset.
years_test = 2.0195

# Number of days used in the training dataset for recalibration
calibration_window = 364 * 4

# Optional parameters for selecting the test dataset, if either of them is not provided, 
# the test dataset is built using the years_test parameter. They should either be one of
# the date formats existing in python or a string with the following format
# "%d/%m/%Y %H:%M"
begin_test_date = '05/01/2015'
end_test_date = '08/01/2017'

In [ ]:
path_datasets_folder = os.path.join('.', 'datasets')
path_recalibration_folder = os.path.join('.', 'experimental_files')

In [ ]:
dataset

'EPF'

In [ ]:
EPF_1=pd.read_csv('/content/EPF_data 2.csv')
EPF_1.reset_index(inplace=True)
EPF_1["Date"] = pd.to_datetime(EPF_1["Date"])
EPF_1 = EPF_1.set_index('Date')
del EPF_1['index']
EPF_1.head()
print(EPF_1)

                     price day ahead real  Load Forecast  PV+Wind Forecast  \
Date
2011-01-09 00:00:00                 18.29          40242            8280.0
2011-01-09 01:00:00                 16.04          39159            8413.0
2011-01-09 02:00:00                 14.60          38825            8502.0
2011-01-09 03:00:00                 14.95          38969            8669.0
2011-01-09 04:00:00                 14.50          39093            8849.0
...                                   ...            ...               ...
2017-01-08 19:00:00                 56.70          49516            8053.5
2017-01-08 20:00:00                 52.44          47748            7456.5
2017-01-08 21:00:00                 51.86          47762            6902.5
2017-01-08 22:00:00                 52.26          46223            6395.0
2017-01-08 23:00:00                 50.87          43521            4633.5

                       Gas   Coal    CO2
Date
2011-01-09 00:00:00  21.30  55.17   7.27
2011-01-09 01:00:00  21.30  55.17   7.27
2011-01-09 02:00:00  21.30  55.17   7.27
2011-01-09 03:00:00  21.30  55.17   7.27
2011-01-09 04:00:00  21.30  55.17   7.27
...                    ...    ...    ...
2017-01-08 19:00:00  19.12  56.49  32.59
2017-01-08 20:00:00  19.12  56.49  32.59
2017-01-08 21:00:00  19.12  56.49  32.59
2017-01-08 22:00:00  19.12  56.49  32.59
2017-01-08 23:00:00  19.12  56.67  32.59

[52608 rows x 6 columns]

In [ ]:
EPF_1.to_csv('/content/epftoolbox/datasets/EPF.csv')

In [ ]:
    
evaluate_lear_in_test_dataset(path_recalibration_folder=path_recalibration_folder, 
                             path_datasets_folder=path_datasets_folder, dataset=dataset, years_test=years_test, 
                             calibration_window=calibration_window, begin_test_date=begin_test_date, 
                             end_test_date=end_test_date)

Test datasets: 2015-01-05 00:00:00 - 2017-01-08 23:00:00
2015-01-05 - sMAPE: 7.96%  |  MAE: 4.253
2015-01-06 - sMAPE: 16.76%  |  MAE: 6.319
2015-01-07 - sMAPE: 35.25%  |  MAE: 9.581
2015-01-08 - sMAPE: 30.26%  |  MAE: 9.390
2015-01-09 - sMAPE: 62.41%  |  MAE: 15.061
2015-01-10 - sMAPE: 60.69%  |  MAE: 15.381
2015-01-11 - sMAPE: 53.85%  |  MAE: 14.215
2015-01-12 - sMAPE: 49.59%  |  MAE: 13.556
2015-01-13 - sMAPE: 45.81%  |  MAE: 12.781
2015-01-14 - sMAPE: 42.39%  |  MAE: 12.108
2015-01-15 - sMAPE: 40.17%  |  MAE: 11.524
2015-01-16 - sMAPE: 38.24%  |  MAE: 11.015
2015-01-17 - sMAPE: 37.48%  |  MAE: 10.823
2015-01-18 - sMAPE: 35.60%  |  MAE: 10.711
2015-01-19 - sMAPE: 34.23%  |  MAE: 10.451
2015-01-20 - sMAPE: 32.63%  |  MAE: 10.003
2015-01-21 - sMAPE: 35.79%  |  MAE: 10.309
2015-01-22 - sMAPE: 36.63%  |  MAE: 10.365
2015-01-23 - sMAPE: 35.26%  |  MAE: 10.069
2015-01-24 - sMAPE: 34.05%  |  MAE: 9.807
2015-01-25 - sMAPE: 32.88%  |  MAE: 9.537
2015-01-26 - sMAPE: 32.10%  |  MAE: 9.614
2015-01-27 - sMAPE: 31.01%  |  MAE: 9.358
2015-01-28 - sMAPE: 29.98%  |  MAE: 9.101
2015-01-29 - sMAPE: 29.03%  |  MAE: 8.902
2015-01-30 - sMAPE: 28.26%  |  MAE: 8.766
2015-01-31 - sMAPE: 27.41%  |  MAE: 8.577
2015-02-01 - sMAPE: 26.70%  |  MAE: 8.498
2015-02-02 - sMAPE: 26.24%  |  MAE: 8.493
2015-02-03 - sMAPE: 25.54%  |  MAE: 8.293
2015-02-04 - sMAPE: 25.50%  |  MAE: 8.239
2015-02-05 - sMAPE: 25.06%  |  MAE: 8.175
2015-02-06 - sMAPE: 24.48%  |  MAE: 8.038
2015-02-07 - sMAPE: 23.96%  |  MAE: 7.900
2015-02-08 - sMAPE: 23.64%  |  MAE: 7.929
2015-02-09 - sMAPE: 23.22%  |  MAE: 7.838
2015-02-10 - sMAPE: 22.80%  |  MAE: 7.740
2015-02-11 - sMAPE: 22.47%  |  MAE: 7.655
2015-02-12 - sMAPE: 22.14%  |  MAE: 7.574
2015-02-13 - sMAPE: 21.73%  |  MAE: 7.458
2015-02-14 - sMAPE: 21.28%  |  MAE: 7.313
2015-02-15 - sMAPE: 20.90%  |  MAE: 7.195
2015-02-16 - sMAPE: 20.84%  |  MAE: 7.148
2015-02-17 - sMAPE: 23.25%  |  MAE: 7.272
2015-02-18 - sMAPE: 23.49%  |  MAE: 7.276
2015-02-19 - sMAPE: 24.22%  |  MAE: 7.308
2015-02-20 - sMAPE: 23.92%  |  MAE: 7.259
2015-02-21 - sMAPE: 23.54%  |  MAE: 7.156
2015-02-22 - sMAPE: 23.29%  |  MAE: 7.135
2015-02-23 - sMAPE: 22.94%  |  MAE: 7.041
2015-02-24 - sMAPE: 22.73%  |  MAE: 6.990
2015-02-25 - sMAPE: 22.44%  |  MAE: 6.909
2015-02-26 - sMAPE: 22.14%  |  MAE: 6.841
2015-02-27 - sMAPE: 21.81%  |  MAE: 6.745
2015-02-28 - sMAPE: 21.47%  |  MAE: 6.647
2015-03-01 - sMAPE: 21.15%  |  MAE: 6.559
2015-03-02 - sMAPE: 21.00%  |  MAE: 6.557
2015-03-03 - sMAPE: 20.77%  |  MAE: 6.491
2015-03-04 - sMAPE: 20.54%  |  MAE: 6.435
2015-03-05 - sMAPE: 20.36%  |  MAE: 6.408
2015-03-06 - sMAPE: 20.17%  |  MAE: 6.376
2015-03-07 - sMAPE: 20.00%  |  MAE: 6.336
2015-03-08 - sMAPE: 19.80%  |  MAE: 6.283
2015-03-09 - sMAPE: 19.60%  |  MAE: 6.242
2015-03-10 - sMAPE: 19.41%  |  MAE: 6.188
2015-03-11 - sMAPE: 20.90%  |  MAE: 6.271
2015-03-12 - sMAPE: 21.81%  |  MAE: 6.318
2015-03-13 - sMAPE: 22.15%  |  MAE: 6.373
2015-03-14 - sMAPE: 21.97%  |  MAE: 6.329
2015-03-15 - sMAPE: 21.84%  |  MAE: 6.281
2015-03-16 - sMAPE: 22.11%  |  MAE: 6.259
2015-03-17 - sMAPE: 23.68%  |  MAE: 6.420
2015-03-18 - sMAPE: 24.31%  |  MAE: 6.464
2015-03-19 - sMAPE: 24.33%  |  MAE: 6.498
2015-03-20 - sMAPE: 24.25%  |  MAE: 6.464
2015-03-21 - sMAPE: 24.59%  |  MAE: 6.455
2015-03-22 - sMAPE: 24.49%  |  MAE: 6.437
2015-03-23 - sMAPE: 24.63%  |  MAE: 6.436
2015-03-24 - sMAPE: 25.51%  |  MAE: 6.476
2015-03-25 - sMAPE: 26.11%  |  MAE: 6.470
2015-03-26 - sMAPE: 26.05%  |  MAE: 6.467
2015-03-27 - sMAPE: 25.83%  |  MAE: 6.438
2015-03-28 - sMAPE: 25.57%  |  MAE: 6.382
2015-03-29 - sMAPE: 25.33%  |  MAE: 6.335
2015-03-30 - sMAPE: 25.08%  |  MAE: 6.279
2015-03-31 - sMAPE: 24.88%  |  MAE: 6.235
2015-04-01 - sMAPE: 24.68%  |  MAE: 6.192
2015-04-02 - sMAPE: 24.47%  |  MAE: 6.143
2015-04-03 - sMAPE: 24.25%  |  MAE: 6.094
2015-04-04 - sMAPE: 24.03%  |  MAE: 6.046
2015-04-05 - sMAPE: 23.85%  |  MAE: 6.020
2015-04-06 - sMAPE: 23.65%  |  MAE: 5.977
2015-04-07 - sMAPE: 23.50%  |  MAE: 5.947
2015-04-08 - sMAPE: 23.51%  |  MAE: 5.924
2015-04-09 - sMAPE: 23.34%  |  MAE: 5.889
2015-04-10 - sMAPE: 23.14%  |  MAE: 5.843
2015-04-11 - sMAPE: 22.96%  |  MAE: 5.809
2015-04-12 - sMAPE: 22.77%  |  MAE: 5.767
2015-04-13 - sMAPE: 22.60%  |  MAE: 5.735
2015-04-14 - sMAPE: 22.57%  |  MAE: 5.743
2015-04-15 - sMAPE: 22.41%  |  MAE: 5.708
2015-04-16 - sMAPE: 22.24%  |  MAE: 5.673
2015-04-17 - sMAPE: 22.06%  |  MAE: 5.633
2015-04-18 - sMAPE: 21.87%  |  MAE: 5.591
2015-04-19 - sMAPE: 21.70%  |  MAE: 5.552
2015-04-20 - sMAPE: 21.54%  |  MAE: 5.518
2015-04-21 - sMAPE: 21.45%  |  MAE: 5.509
2015-04-22 - sMAPE: 21.35%  |  MAE: 5.493
2015-04-23 - sMAPE: 21.21%  |  MAE: 5.467
2015-04-24 - sMAPE: 21.07%  |  MAE: 5.438
2015-04-25 - sMAPE: 20.92%  |  MAE: 5.404
2015-04-26 - sMAPE: 20.81%  |  MAE: 5.386
2015-04-27 - sMAPE: 20.78%  |  MAE: 5.373
2015-04-28 - sMAPE: 20.64%  |  MAE: 5.342
2015-04-29 - sMAPE: 20.61%  |  MAE: 5.326
2015-04-30 - sMAPE: 21.72%  |  MAE: 5.589
2015-05-01 - sMAPE: 22.05%  |  MAE: 5.605
2015-05-02 - sMAPE: 21.96%  |  MAE: 5.588
2015-05-03 - sMAPE: 21.89%  |  MAE: 5.586
2015-05-04 - sMAPE: 21.75%  |  MAE: 5.557
2015-05-05 - sMAPE: 21.61%  |  MAE: 5.523
2015-05-06 - sMAPE: 21.47%  |  MAE: 5.490
2015-05-07 - sMAPE: 21.40%  |  MAE: 5.488
2015-05-08 - sMAPE: 21.25%  |  MAE: 5.456
2015-05-09 - sMAPE: 21.40%  |  MAE: 5.466
2015-05-10 - sMAPE: 21.41%  |  MAE: 5.486
2015-05-11 - sMAPE: 21.30%  |  MAE: 5.464
2015-05-12 - sMAPE: 21.16%  |  MAE: 5.434
2015-05-13 - sMAPE: 21.08%  |  MAE: 5.414
2015-05-14 - sMAPE: 20.99%  |  MAE: 5.402
2015-05-15 - sMAPE: 20.88%  |  MAE: 5.388
2015-05-16 - sMAPE: 20.75%  |  MAE: 5.359
2015-05-17 - sMAPE: 20.64%  |  MAE: 5.341
2015-05-18 - sMAPE: 20.54%  |  MAE: 5.321
2015-05-19 - sMAPE: 20.44%  |  MAE: 5.301
2015-05-20 - sMAPE: 20.71%  |  MAE: 5.338
2015-05-21 - sMAPE: 20.59%  |  MAE: 5.312
2015-05-22 - sMAPE: 20.46%  |  MAE: 5.282
2015-05-23 - sMAPE: 20.34%  |  MAE: 5.253
2015-05-24 - sMAPE: 20.21%  |  MAE: 5.222
2015-05-25 - sMAPE: 20.11%  |  MAE: 5.202
2015-05-26 - sMAPE: 20.01%  |  MAE: 5.181
2015-05-27 - sMAPE: 19.91%  |  MAE: 5.156
2015-05-28 - sMAPE: 19.81%  |  MAE: 5.137
2015-05-29 - sMAPE: 19.73%  |  MAE: 5.126
2015-05-30 - sMAPE: 19.62%  |  MAE: 5.102
2015-05-31 - sMAPE: 19.52%  |  MAE: 5.083
2015-06-01 - sMAPE: 19.44%  |  MAE: 5.069
2015-06-02 - sMAPE: 19.34%  |  MAE: 5.044
2015-06-03 - sMAPE: 19.51%  |  MAE: 5.057
2015-06-04 - sMAPE: 19.46%  |  MAE: 5.049
2015-06-05 - sMAPE: 19.37%  |  MAE: 5.033
2015-06-06 - sMAPE: 19.27%  |  MAE: 5.012
2015-06-07 - sMAPE: 19.71%  |  MAE: 5.056
2015-06-08 - sMAPE: 19.62%  |  MAE: 5.036
2015-06-09 - sMAPE: 19.56%  |  MAE: 5.024
2015-06-10 - sMAPE: 19.72%  |  MAE: 5.032
2015-06-11 - sMAPE: 19.64%  |  MAE: 5.013
2015-06-12 - sMAPE: 19.55%  |  MAE: 4.997
2015-06-13 - sMAPE: 19.48%  |  MAE: 4.983
2015-06-14 - sMAPE: 19.39%  |  MAE: 4.966
2015-06-15 - sMAPE: 19.43%  |  MAE: 4.977
2015-06-16 - sMAPE: 19.96%  |  MAE: 5.193
2015-06-17 - sMAPE: 19.95%  |  MAE: 5.182
2015-06-18 - sMAPE: 19.90%  |  MAE: 5.172
2015-06-19 - sMAPE: 19.82%  |  MAE: 5.157
2015-06-20 - sMAPE: 19.73%  |  MAE: 5.141
2015-06-21 - sMAPE: 19.67%  |  MAE: 5.137
2015-06-22 - sMAPE: 19.61%  |  MAE: 5.132
2015-06-23 - sMAPE: 19.53%  |  MAE: 5.112
2015-06-24 - sMAPE: 19.49%  |  MAE: 5.104
2015-06-25 - sMAPE: 19.43%  |  MAE: 5.101
2015-06-26 - sMAPE: 19.34%  |  MAE: 5.084
2015-06-27 - sMAPE: 19.27%  |  MAE: 5.068
2015-06-28 - sMAPE: 19.19%  |  MAE: 5.050
2015-06-29 - sMAPE: 19.11%  |  MAE: 5.032
2015-06-30 - sMAPE: 19.03%  |  MAE: 5.014
2015-07-01 - sMAPE: 19.15%  |  MAE: 5.011
2015-07-02 - sMAPE: 19.10%  |  MAE: 5.002
2015-07-03 - sMAPE: 19.04%  |  MAE: 4.999
2015-07-04 - sMAPE: 18.97%  |  MAE: 4.985
2015-07-05 - sMAPE: 18.91%  |  MAE: 4.972
2015-07-06 - sMAPE: 18.85%  |  MAE: 4.965
2015-07-07 - sMAPE: 18.78%  |  MAE: 4.951
2015-07-08 - sMAPE: 19.00%  |  MAE: 4.969
2015-07-09 - sMAPE: 18.93%  |  MAE: 4.953
2015-07-10 - sMAPE: 18.86%  |  MAE: 4.940
2015-07-11 - sMAPE: 18.79%  |  MAE: 4.925
2015-07-12 - sMAPE: 18.73%  |  MAE: 4.910
2015-07-13 - sMAPE: 18.65%  |  MAE: 4.893
2015-07-14 - sMAPE: 18.65%  |  MAE: 4.890
2015-07-15 - sMAPE: 18.63%  |  MAE: 4.879
2015-07-16 - sMAPE: 18.57%  |  MAE: 4.868
2015-07-17 - sMAPE: 18.48%  |  MAE: 4.849
2015-07-18 - sMAPE: 18.41%  |  MAE: 4.832
2015-07-19 - sMAPE: 18.33%  |  MAE: 4.815
2015-07-20 - sMAPE: 18.26%  |  MAE: 4.801
2015-07-21 - sMAPE: 18.20%  |  MAE: 4.787
2015-07-22 - sMAPE: 18.12%  |  MAE: 4.769
2015-07-23 - sMAPE: 18.06%  |  MAE: 4.755
2015-07-24 - sMAPE: 17.99%  |  MAE: 4.741
2015-07-25 - sMAPE: 17.92%  |  MAE: 4.727
2015-07-26 - sMAPE: 17.85%  |  MAE: 4.709
2015-07-27 - sMAPE: 17.78%  |  MAE: 4.694
2015-07-28 - sMAPE: 17.73%  |  MAE: 4.683
2015-07-29 - sMAPE: 17.70%  |  MAE: 4.676
2015-07-30 - sMAPE: 17.63%  |  MAE: 4.660
2015-07-31 - sMAPE: 17.57%  |  MAE: 4.650
2015-08-01 - sMAPE: 17.56%  |  MAE: 4.662
2015-08-02 - sMAPE: 17.52%  |  MAE: 4.665
2015-08-03 - sMAPE: 17.49%  |  MAE: 4.663
2015-08-04 - sMAPE: 17.44%  |  MAE: 4.652
2015-08-05 - sMAPE: 17.41%  |  MAE: 4.651
2015-08-06 - sMAPE: 17.36%  |  MAE: 4.642
2015-08-07 - sMAPE: 17.30%  |  MAE: 4.630
2015-08-08 - sMAPE: 17.25%  |  MAE: 4.624
2015-08-09 - sMAPE: 17.20%  |  MAE: 4.616
2015-08-10 - sMAPE: 17.15%  |  MAE: 4.608
2015-08-11 - sMAPE: 17.10%  |  MAE: 4.600
2015-08-12 - sMAPE: 17.05%  |  MAE: 4.588
2015-08-13 - sMAPE: 17.00%  |  MAE: 4.579
2015-08-14 - sMAPE: 16.94%  |  MAE: 4.568
2015-08-15 - sMAPE: 16.90%  |  MAE: 4.560
2015-08-16 - sMAPE: 16.84%  |  MAE: 4.546
2015-08-17 - sMAPE: 16.79%  |  MAE: 4.533
2015-08-18 - sMAPE: 17.00%  |  MAE: 4.569
2015-08-19 - sMAPE: 17.17%  |  MAE: 4.579
2015-08-20 - sMAPE: 17.13%  |  MAE: 4.576
2015-08-21 - sMAPE: 17.09%  |  MAE: 4.568
2015-08-22 - sMAPE: 17.04%  |  MAE: 4.560
2015-08-23 - sMAPE: 17.00%  |  MAE: 4.552
2015-08-24 - sMAPE: 16.97%  |  MAE: 4.545
2015-08-25 - sMAPE: 16.96%  |  MAE: 4.540
2015-08-26 - sMAPE: 16.94%  |  MAE: 4.531
2015-08-27 - sMAPE: 16.89%  |  MAE: 4.519
2015-08-28 - sMAPE: 16.84%  |  MAE: 4.510
2015-08-29 - sMAPE: 16.79%  |  MAE: 4.503
2015-08-30 - sMAPE: 16.74%  |  MAE: 4.491
2015-08-31 - sMAPE: 16.70%  |  MAE: 4.481
2015-09-01 - sMAPE: 16.65%  |  MAE: 4.470
2015-09-02 - sMAPE: 16.61%  |  MAE: 4.460
2015-09-03 - sMAPE: 16.57%  |  MAE: 4.458
2015-09-04 - sMAPE: 16.54%  |  MAE: 4.456
2015-09-05 - sMAPE: 16.52%  |  MAE: 4.460
2015-09-06 - sMAPE: 16.48%  |  MAE: 4.456
2015-09-07 - sMAPE: 16.44%  |  MAE: 4.449
2015-09-08 - sMAPE: 16.40%  |  MAE: 4.439
2015-09-09 - sMAPE: 16.36%  |  MAE: 4.431
2015-09-10 - sMAPE: 16.32%  |  MAE: 4.423
2015-09-11 - sMAPE: 16.27%  |  MAE: 4.411
2015-09-12 - sMAPE: 16.23%  |  MAE: 4.402
2015-09-13 - sMAPE: 16.18%  |  MAE: 4.389
2015-09-14 - sMAPE: 16.14%  |  MAE: 4.379
2015-09-15 - sMAPE: 16.10%  |  MAE: 4.370
2015-09-16 - sMAPE: 16.05%  |  MAE: 4.358
2015-09-17 - sMAPE: 16.01%  |  MAE: 4.352
2015-09-18 - sMAPE: 15.96%  |  MAE: 4.342
2015-09-19 - sMAPE: 15.91%  |  MAE: 4.330
2015-09-20 - sMAPE: 15.86%  |  MAE: 4.318
2015-09-21 - sMAPE: 15.82%  |  MAE: 4.308
2015-09-22 - sMAPE: 15.78%  |  MAE: 4.297
2015-09-23 - sMAPE: 15.91%  |  MAE: 4.306
2015-09-24 - sMAPE: 15.87%  |  MAE: 4.298
2015-09-25 - sMAPE: 15.85%  |  MAE: 4.293
2015-09-26 - sMAPE: 15.82%  |  MAE: 4.288
2015-09-27 - sMAPE: 15.78%  |  MAE: 4.282
2015-09-28 - sMAPE: 15.74%  |  MAE: 4.276
2015-09-29 - sMAPE: 15.71%  |  MAE: 4.269
2015-09-30 - sMAPE: 15.69%  |  MAE: 4.264
2015-10-01 - sMAPE: 15.65%  |  MAE: 4.255
2015-10-02 - sMAPE: 15.61%  |  MAE: 4.251
2015-10-03 - sMAPE: 15.57%  |  MAE: 4.242
2015-10-04 - sMAPE: 15.53%  |  MAE: 4.233
2015-10-05 - sMAPE: 15.49%  |  MAE: 4.224
2015-10-06 - sMAPE: 15.59%  |  MAE: 4.227
2015-10-07 - sMAPE: 15.87%  |  MAE: 4.243
2015-10-08 - sMAPE: 15.98%  |  MAE: 4.260
2015-10-09 - sMAPE: 15.95%  |  MAE: 4.256
2015-10-10 - sMAPE: 15.91%  |  MAE: 4.248
2015-10-11 - sMAPE: 15.89%  |  MAE: 4.248
2015-10-12 - sMAPE: 15.85%  |  MAE: 4.241
2015-10-13 - sMAPE: 15.82%  |  MAE: 4.235
2015-10-14 - sMAPE: 15.79%  |  MAE: 4.228
2015-10-15 - sMAPE: 15.75%  |  MAE: 4.221
2015-10-16 - sMAPE: 15.71%  |  MAE: 4.212
2015-10-17 - sMAPE: 15.67%  |  MAE: 4.204
2015-10-18 - sMAPE: 15.65%  |  MAE: 4.198
2015-10-19 - sMAPE: 15.70%  |  MAE: 4.201
2015-10-20 - sMAPE: 15.78%  |  MAE: 4.199
2015-10-21 - sMAPE: 15.84%  |  MAE: 4.201
2015-10-22 - sMAPE: 15.84%  |  MAE: 4.200
2015-10-23 - sMAPE: 15.81%  |  MAE: 4.195
2015-10-24 - sMAPE: 15.78%  |  MAE: 4.190
2015-10-25 - sMAPE: 15.73%  |  MAE: 4.181
2015-10-26 - sMAPE: 15.70%  |  MAE: 4.172
2015-10-27 - sMAPE: 15.66%  |  MAE: 4.165
2015-10-28 - sMAPE: 15.63%  |  MAE: 4.156
2015-10-29 - sMAPE: 15.60%  |  MAE: 4.152
2015-10-30 - sMAPE: 15.58%  |  MAE: 4.153
2015-10-31 - sMAPE: 15.54%  |  MAE: 4.144
2015-11-01 - sMAPE: 15.51%  |  MAE: 4.141
2015-11-02 - sMAPE: 15.48%  |  MAE: 4.135
2015-11-03 - sMAPE: 15.57%  |  MAE: 4.140
2015-11-04 - sMAPE: 15.75%  |  MAE: 4.168
2015-11-05 - sMAPE: 15.73%  |  MAE: 4.168
2015-11-06 - sMAPE: 15.69%  |  MAE: 4.161
2015-11-07 - sMAPE: 15.66%  |  MAE: 4.154
2015-11-08 - sMAPE: 15.62%  |  MAE: 4.145
2015-11-09 - sMAPE: 15.60%  |  MAE: 4.142
2015-11-10 - sMAPE: 15.57%  |  MAE: 4.135
2015-11-11 - sMAPE: 15.60%  |  MAE: 4.133
2015-11-12 - sMAPE: 15.59%  |  MAE: 4.134
2015-11-13 - sMAPE: 15.55%  |  MAE: 4.126
2015-11-14 - sMAPE: 15.51%  |  MAE: 4.120
2015-11-15 - sMAPE: 15.48%  |  MAE: 4.117
2015-11-16 - sMAPE: 15.45%  |  MAE: 4.112
2015-11-17 - sMAPE: 15.42%  |  MAE: 4.107
2015-11-18 - sMAPE: 15.39%  |  MAE: 4.100
2015-11-19 - sMAPE: 15.36%  |  MAE: 4.095
2015-11-20 - sMAPE: 15.32%  |  MAE: 4.089
2015-11-21 - sMAPE: 15.30%  |  MAE: 4.087
2015-11-22 - sMAPE: 15.27%  |  MAE: 4.080
2015-11-23 - sMAPE: 15.24%  |  MAE: 4.075
2015-11-24 - sMAPE: 15.20%  |  MAE: 4.066
2015-11-25 - sMAPE: 15.17%  |  MAE: 4.059
2015-11-26 - sMAPE: 15.15%  |  MAE: 4.055
2015-11-27 - sMAPE: 15.12%  |  MAE: 4.053
2015-11-28 - sMAPE: 15.09%  |  MAE: 4.052
2015-11-29 - sMAPE: 15.06%  |  MAE: 4.046
2015-11-30 - sMAPE: 15.03%  |  MAE: 4.042
2015-12-01 - sMAPE: 15.03%  |  MAE: 4.040
2015-12-02 - sMAPE: 15.03%  |  MAE: 4.042
2015-12-03 - sMAPE: 15.03%  |  MAE: 4.056
2015-12-04 - sMAPE: 15.00%  |  MAE: 4.054
2015-12-05 - sMAPE: 14.97%  |  MAE: 4.045
2015-12-06 - sMAPE: 14.99%  |  MAE: 4.045
2015-12-07 - sMAPE: 14.97%  |  MAE: 4.044
2015-12-08 - sMAPE: 14.95%  |  MAE: 4.040
2015-12-09 - sMAPE: 14.92%  |  MAE: 4.034
2015-12-10 - sMAPE: 14.89%  |  MAE: 4.028
2015-12-11 - sMAPE: 14.86%  |  MAE: 4.024
2015-12-12 - sMAPE: 14.83%  |  MAE: 4.019
2015-12-13 - sMAPE: 14.80%  |  MAE: 4.013
2015-12-14 - sMAPE: 14.80%  |  MAE: 4.014
2015-12-15 - sMAPE: 14.96%  |  MAE: 4.028
2015-12-16 - sMAPE: 15.41%  |  MAE: 4.098
2015-12-17 - sMAPE: 15.44%  |  MAE: 4.106
2015-12-18 - sMAPE: 15.42%  |  MAE: 4.102
2015-12-19 - sMAPE: 15.45%  |  MAE: 4.101
2015-12-20 - sMAPE: 15.42%  |  MAE: 4.096
2015-12-21 - sMAPE: 15.41%  |  MAE: 4.093
2015-12-22 - sMAPE: 15.46%  |  MAE: 4.100
2015-12-23 - sMAPE: 15.65%  |  MAE: 4.105
2015-12-24 - sMAPE: 15.63%  |  MAE: 4.103
2015-12-25 - sMAPE: 15.60%  |  MAE: 4.096
2015-12-26 - sMAPE: 15.59%  |  MAE: 4.099
2015-12-27 - sMAPE: 15.56%  |  MAE: 4.093
2015-12-28 - sMAPE: 15.55%  |  MAE: 4.090
2015-12-29 - sMAPE: 15.56%  |  MAE: 4.090
2015-12-30 - sMAPE: 15.58%  |  MAE: 4.090
2015-12-31 - sMAPE: 15.69%  |  MAE: 4.092
2016-01-01 - sMAPE: 15.72%  |  MAE: 4.089
2016-01-02 - sMAPE: 15.72%  |  MAE: 4.088
2016-01-03 - sMAPE: 15.70%  |  MAE: 4.084
2016-01-04 - sMAPE: 15.67%  |  MAE: 4.078
2016-01-05 - sMAPE: 15.65%  |  MAE: 4.076
2016-01-06 - sMAPE: 15.64%  |  MAE: 4.074
2016-01-07 - sMAPE: 15.66%  |  MAE: 4.075
2016-01-08 - sMAPE: 15.65%  |  MAE: 4.073
2016-01-09 - sMAPE: 15.65%  |  MAE: 4.076
2016-01-10 - sMAPE: 15.64%  |  MAE: 4.077
2016-01-11 - sMAPE: 15.70%  |  MAE: 4.082
2016-01-12 - sMAPE: 15.77%  |  MAE: 4.088
2016-01-13 - sMAPE: 15.75%  |  MAE: 4.085
2016-01-14 - sMAPE: 15.72%  |  MAE: 4.080
2016-01-15 - sMAPE: 15.70%  |  MAE: 4.074
2016-01-16 - sMAPE: 15.74%  |  MAE: 4.075
2016-01-17 - sMAPE: 15.71%  |  MAE: 4.069
2016-01-18 - sMAPE: 15.70%  |  MAE: 4.069
2016-01-19 - sMAPE: 15.69%  |  MAE: 4.066
2016-01-20 - sMAPE: 15.69%  |  MAE: 4.066
2016-01-21 - sMAPE: 15.67%  |  MAE: 4.061
2016-01-22 - sMAPE: 15.72%  |  MAE: 4.067
2016-01-23 - sMAPE: 15.76%  |  MAE: 4.068
2016-01-24 - sMAPE: 15.72%  |  MAE: 4.060
2016-01-25 - sMAPE: 15.70%  |  MAE: 4.056
2016-01-26 - sMAPE: 15.71%  |  MAE: 4.058
2016-01-27 - sMAPE: 15.68%  |  MAE: 4.054
2016-01-28 - sMAPE: 15.67%  |  MAE: 4.053
2016-01-29 - sMAPE: 15.64%  |  MAE: 4.048
2016-01-30 - sMAPE: 15.61%  |  MAE: 4.043
2016-01-31 - sMAPE: 15.59%  |  MAE: 4.042
2016-02-01 - sMAPE: 15.57%  |  MAE: 4.042
2016-02-02 - sMAPE: 15.54%  |  MAE: 4.037
2016-02-03 - sMAPE: 15.52%  |  MAE: 4.032
2016-02-04 - sMAPE: 15.49%  |  MAE: 4.026
2016-02-05 - sMAPE: 15.48%  |  MAE: 4.024
2016-02-06 - sMAPE: 15.47%  |  MAE: 4.024
2016-02-07 - sMAPE: 15.48%  |  MAE: 4.025
2016-02-08 - sMAPE: 15.54%  |  MAE: 4.024
2016-02-09 - sMAPE: 15.72%  |  MAE: 4.030
2016-02-10 - sMAPE: 15.79%  |  MAE: 4.037
2016-02-11 - sMAPE: 15.78%  |  MAE: 4.032
2016-02-12 - sMAPE: 15.77%  |  MAE: 4.029
2016-02-13 - sMAPE: 15.75%  |  MAE: 4.025
2016-02-14 - sMAPE: 15.72%  |  MAE: 4.021
2016-02-15 - sMAPE: 15.70%  |  MAE: 4.019
2016-02-16 - sMAPE: 15.68%  |  MAE: 4.015
2016-02-17 - sMAPE: 15.93%  |  MAE: 4.022
2016-02-18 - sMAPE: 16.06%  |  MAE: 4.036
2016-02-19 - sMAPE: 16.21%  |  MAE: 4.048
2016-02-20 - sMAPE: 16.25%  |  MAE: 4.046
2016-02-21 - sMAPE: 16.24%  |  MAE: 4.046
2016-02-22 - sMAPE: 16.23%  |  MAE: 4.047
2016-02-23 - sMAPE: 16.31%  |  MAE: 4.053
2016-02-24 - sMAPE: 16.57%  |  MAE: 4.072
2016-02-25 - sMAPE: 16.61%  |  MAE: 4.076
2016-02-26 - sMAPE: 16.64%  |  MAE: 4.079
2016-02-27 - sMAPE: 16.63%  |  MAE: 4.076
2016-02-28 - sMAPE: 16.62%  |  MAE: 4.075
2016-02-29 - sMAPE: 16.63%  |  MAE: 4.074
2016-03-01 - sMAPE: 17.00%  |  MAE: 4.084
2016-03-02 - sMAPE: 17.21%  |  MAE: 4.094
2016-03-03 - sMAPE: 17.23%  |  MAE: 4.094
2016-03-04 - sMAPE: 17.22%  |  MAE: 4.090
2016-03-05 - sMAPE: 17.20%  |  MAE: 4.087
2016-03-06 - sMAPE: 17.17%  |  MAE: 4.082
2016-03-07 - sMAPE: 17.16%  |  MAE: 4.077
2016-03-08 - sMAPE: 17.35%  |  MAE: 4.079
2016-03-09 - sMAPE: 17.53%  |  MAE: 4.093
2016-03-10 - sMAPE: 17.53%  |  MAE: 4.096
2016-03-11 - sMAPE: 17.50%  |  MAE: 4.093
2016-03-12 - sMAPE: 17.48%  |  MAE: 4.090
2016-03-13 - sMAPE: 17.45%  |  MAE: 4.087
2016-03-14 - sMAPE: 17.42%  |  MAE: 4.081
2016-03-15 - sMAPE: 17.40%  |  MAE: 4.075
2016-03-16 - sMAPE: 17.50%  |  MAE: 4.078
2016-03-17 - sMAPE: 17.48%  |  MAE: 4.076
2016-03-18 - sMAPE: 17.52%  |  MAE: 4.080
2016-03-19 - sMAPE: 17.55%  |  MAE: 4.075
2016-03-20 - sMAPE: 17.72%  |  MAE: 4.084
2016-03-21 - sMAPE: 17.81%  |  MAE: 4.089
2016-03-22 - sMAPE: 17.80%  |  MAE: 4.087
2016-03-23 - sMAPE: 17.91%  |  MAE: 4.091
2016-03-24 - sMAPE: 17.91%  |  MAE: 4.097
2016-03-24 - sMAPE: 17.91%  |  MAE: 4.097

In [ ]:
#Download available forecast
import pandas as pd
import numpy as np
forecast = pd.read_csv('/content/epftoolbox/experimental_files/LEAR_forecast_datEPF_YT2.0195_CW1456.csv')
forecast.reset_index(inplace=True)
forecast['Date'] = pd.to_datetime(forecast['Date'])
forecast = forecast.set_index('Date')
forecast.head()

,index,h0,h1,h2,h3,h4,h5,h6,h7,h8,...,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-05,0,46.568490,42.995123,40.284090,41.281372,42.769975,48.631243,59.738275,68.982391,70.665136,...,65.956961,68.530264,70.262717,64.592610,68.015008,62.081806,53.893415,54.354808,45.187559,40.988686
2015-01-06,1,49.232449,45.891539,42.221738,39.319878,39.635293,40.613125,46.673612,52.619035,54.346655,...,37.060859,39.751742,44.693803,44.058805,42.892432,39.110551,35.908827,34.322179,27.511253,25.160083
2015-01-07,2,10.318326,8.978287,8.983570,10.914104,13.664986,11.588890,19.540403,24.801572,27.033876,...,32.183776,37.500603,46.487046,49.063200,47.820410,43.998154,40.302034,40.694414,34.887822,32.419050
2015-01-08,3,46.276746,46.118965,40.293061,39.335919,40.410901,44.632480,58.655376,67.716193,75.410262,...,67.183412,62.647594,61.068341,56.340652,49.242477,44.968372,39.227561,37.784033,34.687685,30.667673
2015-01-09,4,24.809524,23.955762,23.313370,25.723276,25.426540,27.976011,30.580189,32.744905,31.537329,...,28.952147,34.815087,42.122917,45.336609,42.670484,38.020318,35.055658,31.582450,25.311587,22.315885

In [ ]:
forecast=forecast.iloc[:, 2:] 
df=forecast.stack()
df.to_excel("forecast_LEAR_2.xlsx", header=True)
print(df)

Date
2015-01-05  h1     42.995123
            h2     40.284090
            h3     41.281372
            h4     42.769975
            h5     48.631243
                     ...
2017-01-08  h19    54.935606
            h20    52.303738
            h21    54.075753
            h22    51.737942
            h23    47.410246
Length: 16905, dtype: float64

In [ ]:
df=forecast.stack()

In [ ]:
df

Date
2015-01-05  h1     42.995123
            h2     40.284090
            h3     41.281372
            h4     42.769975
            h5     48.631243
                     ...
2017-01-08  h19    54.935606
            h20    52.303738
            h21    54.075753
            h22    51.737942
            h23    47.410246
Length: 16905, dtype: float64

In [ ]:

df.to_excel("forecast_LEAR_2.xlsx", header=True)